.Login {
  position: relative;
  top: 10rem;
}

.Register {
  position: relative;
  top: 10rem;
}

.Sending {
  position: relative;
  top: 10rem;
}

.button {
  position: relative;
  right: 7rem;
  margin: 1rem;
}

.error {
  font-size: 8pt;
  color:red;
  display: block;
  margin-top: 1rem;
}