.Login {
  position: relative;
  top: 10rem;
}

.Register {
  position: relative;
  top: 10rem;
}

.Sending {
  position: relative;
  top: 10rem;
}

.button {
  position: relative;
  right: 7rem;
  margin: 1rem;
}